<div class="leftContainer">
   <input type="button" ng-click="AddUser()" class="btn btn-primary" value="Add User" /><br/> 
   <input type="button" ng-click="DeleteUser()" class="btn btn-primary" value="Delete User" />
</div>
<div class="rightContainer" ng-show="IsHidden">
    <div>
      <span class="leftHalf" >User Id <span style="color:red;">*</span></span>
      <input type="text" ng-model="credentials.user" class="form-control rightHalf"/>
    </div>
    <div>
        <span class="leftHalf">Password <span style="color:red;">*</span></span>
        <input type="password" ng-model="credentials.mainPassword" class="form-control rightHalf"/>
    </div>
    <div>
        <span class="leftHalf">Confirm Password <span style="color:red;">*</span></span>
        <input type="password" ng-model="credentials.confirmPassword" class="form-control rightHalf"/>
    </div>
    <input type="button"  ng-click="Save()" class="btn btn-primary" value="Create" style="width: 30%; margin-left: 30%; margin-top: 5%;" />
</div>
<div class="rightContainer" ng-show="!IsHidden">
    <table class="table table-striped table-bordered table-condensed">
        <tr ng-repeat="data in myData">
            <td>{{ data.user_id }}<input type="button"  ng-click="removeRow(data._id)" class="btn btn-primary floatRight" value="Delete" style="width:50%;float: right;" /></td>
        </tr>
    </table>
</div>