<div class="leftContainer" style="width: 100%; padding-left: 5%;">
    <div class="cust">
        <div class="subHeader" style="margin: 0 auto;">
            <div style="float:left;">
                <span>Customer: <b>{{ email }}</b> Ticket ID: <b>{{ ticketId }}</b></span>
            </div>
            <div class="searchDiv">
                <span>EXPORT</span>&emsp;&emsp;
                <input type="search" ng-model="search" placeholder="Search">
            </div>
        </div>
        <div style="clear: both;"></div>
        <div>
            <button ng-repeat="hub in hubs" class="btn btn-primary hubBtn">{{hub}}</button>
        </div>
        <div>
            <div class="tableDiv" style="float: left;">
                <label>Status</label>
                <table border="1" cellpadding="10">
                    <tr>
                        <td style="background: #5A8CEA;" ng-repeat="items in keys">{{items}}</td>
                    </tr>
                    <tr ng-repeat="item in tableData | filter:search">
                        <td ng-repeat="data in item track by $index">{{ data }}</td>
                    </tr>
                </table>
            </div>
            <div class="tableDiv" class="floatRight">
                <label  >Events</label>
                <table border="1" cellpadding="10">
                    <tr>
                        <td style="background: #5A8CEA;" ng-repeat="items1 in keys1">{{items1}}</td>
                    </tr>
                    <tr ng-repeat="item1 in tableData1 | filter:search">
                        <td ng-repeat="data1 in item1 track by $index" ng-click="onDeviceSelect(data.id)">{{ data1 }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="margin-top:30%">
            <input class="btn btn-primary" style="float:left;margin: 0 !important;border-radius: 15px;" value="Back" ng-click='moveBack()'/>
            <input class="btn btn-primary" style="float:right;margin: 0 !important;border-radius: 15px;" value="Next" ng-click='addRemarks()'/>
        </div>
    </div>
</div>
<style type="text/css">
    .tableDiv {
        width: 48%;
        overflow: auto;
        max-height: 310px !important;
    }
    .mainBar {
        margin-bottom: 5%;
    }
    div label {
        margin:0 40%;
    }
    table {
       width: 90%;
       margin: 0 2%;
    }
    th, td {
        width:134px;
        height: 55px; 
        text-align: center;
        border: .5px solid #fff;
    }
    tr:nth-child(even){
        background-color: #B4CBF6
    }
    tr:nth-child(odd){
        background-color: #80A4E6
    }
    .hubBtn {
        width: auto !important;
        font-size: 20px;
        border-radius: 15px;
        margin: 5% 2px !important;
    }
    .leftContainer div {
        margin: 0 auto;
    }
</style>