<html>

<head>
    <title>Ls Line</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
</head>

<body>
    <form action="/webhook/login" method="post">
        <div class="container">
            <div class="top_nav clearfix">
                <label class="nav_title">Beseye Image</label>
            </div>
            <div class="main_body">
                <div class="gray_bg">

                    <div class="main_logo"><img src="<%= typeof urldata != 'undefined' ? urldata : '' %>"></div>

                <!-- </div>
                <div class="login">
                    <input type="text" name="email" placeholder="Email Address" />
                    <input type="password" name="password" placeholder="Password" />
                    <input type="hidden" name="state" value="<%= typeof state != 'undefined' ? state : '' %>" />
                    <p class="login p"><%= typeof message != 'undefined' ? message : '' %></p>
                    <span class="login span"><%= typeof msgstatus != 'undefined' ? msgstatus : '' %></span>
                </div>
            </div>
            <div class="action_buttons">
                <!-- <input type="submit" class="login_btn" value="Login" /> -->

            </div>
        </div>
    </form>
</body>
</html>
