<html>

<head>
    <title>Bone Alaxa Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
</head>

<body>
    <form action="/auth/login" method="post">
        <div class="container">
            <div class="top_nav clearfix">
                <label class="nav_title">Alexa Login</label>
            </div>
            <div class="main_body">
                <div class="gray_bg">
                    <div class="main_logo"><img src="/images/Bone_logo.png"></div>

                </div>
                <div class="login">
                    <input type="text" name="email" placeholder="Email Address" />
                    <input type="password" name="password" placeholder="Password" />
                    <input type="hidden" name="state" value="<%= typeof state != 'undefined' ? state : '' %>" />
                    <input type="hidden" name="client_id" value="<%= typeof client_id != 'undefined' ? client_id : '' %>" />
                    <input type="hidden" name="scope" value="<%= typeof scope != 'undefined' ? scope : '' %>" />
                    <input type="hidden" name="response_type" value="<%= typeof response_type != 'undefined' ? response_type : '' %>" />
                    <span><%= typeof message != 'undefined' ? message : '' %></span>
                </div>
            </div>
            <div class="action_buttons">
                <input type="submit" class="login_btn" value="Login" />
            </div>
        </div>
    </form>
</body>
</html>
