.leftContainer {
    float: left;
    width: 50%;
    padding-left: 10%
}
.leftContainer input {
    width: 50%;
    margin-top: 5%
}
.rightContainer {
    float: right;
    width: 50%;
    padding-right: 10%
}
.leftHalf {
    width: 50%;
    float: left;
}
.rightHalf {
    width: 50%;
}
.rightContainer div {
    padding-bottom: 5%;
}
.mainBar {
    background-color: lightgrey;
    border-radius: 6px;
    margin-bottom: 10%;
    padding: 10px;
}
.image {
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 10%;
}
.header {
    margin-top: 5%;
    width: 100%;
}
.header h1 {
    margin: 0;
    padding-top: 20px;
    display: inline-block;
    margin-left: -10%;
}
.mainBar select{
    float: right;
    width: 10%;
    background-color: white;
    height: 25px;
    border-radius: 5px;
    margin-top: -3px;
}