html,body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
*{
	    outline: none;
    box-sizing: border-box;
}
a{
	text-decoration:none;
}
.container {
    width: 100%;
    max-width: 1536px;
    margin: auto;
    padding: 0;
    position: relative;
    height: 100%;
}
.top_nav {
    background: #19bed4;
    height: 60px;
    display: block;
    padding: 12px 20px;
}
.back {
    width: 10%;
    display: inline-block;
    vertical-align: middle;
}

.nav_title {
    display: block;
    text-align: center;
    vertical-align: middle;
    font-size: 22px;
    color: #fff;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.back a {
    display: inline-block;
}

.back a img {
    height: 20px;
    margin: 5px 0;
}
.main_body {
    text-align: center;
}

.main_logo {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    height: 150px;
    padding: 0;
    overflow: hidden;
}

.main_logo img {
    margin: -25px;
    width: 100%;
}
.login {
    width: 100%;
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 30px 20px;
}

.login input {
    padding: 15px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #9b9fab;
    font-size: 18px;
    font-weight: normal;
    background: transparent;
    margin-bottom: 15px;
}
.action_buttons {
    width: 100%;
    margin: auto;
    text-align: center;
    bottom: 0;
    padding: 20px;
    left: 0;
    max-width: 800px;
    right: 0;
}

.action_buttons .login_btn {
    border: 0;
    padding: 20px;
    font-size: 18px;
    width: 100%;
    background: #19bed4;
    border-radius: 5px;
    color: #fff;
    display: block;
    cursor: pointer;
}
.terms {
    display: block;
    font-size: 16px;
}

.terms a {
    display: block;
    color: #9b9fab;
    font-size: 15px;
    cursor: pointer;
}

.terms ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: block;
  width: 100%;
}
.terms ul li {
  display: inline-block;
  width: 25%;
  padding: 15px 10px;
}
.alexa {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 0px 20px 30px;
    text-align: center;
}

.alexa img {
    width: 90%;
}
.gray_bg {
    /* background: #f1f1f1; */
}
.login span {
    font-size: 14px;
    color: #0000ff;
    padding: 0;
}
.login p {
    font-size: 14px;
    color: #ff6464;
    padding: 0;
}
a.forgot_btn {
    color: #777;
    padding-top: 25px;
    display: block;
}
@media (max-width:768px){
  .terms ul li {
display: inline-block;
width: 30%;
padding: 15px 5px;
}
}