extends ./layout.jade
block mailBody
  div.greetings Live Smartアプリケーションのご利用、誠にありがとうございます。<br>ログイン用のパスワードをご案内いたします:<br>
   Email: #{templateData.email}<br>パスワード: #{templateData.password}<br>注：ログイン後にパスワードを変更することができます。