extends ./layout.jade
block mailBody
  div.greetings Live Smartアプリケーションのご利用、誠にありがとうございます。 #{templateData.masterEmail} Live Smart アプリケーションの招待を受け取りました。ゲストユー ユーザとしてご利用いただけます。<br><br>

  if templateData.authCode
    div Email  パスワード #{templateData.email} and #{templateData.authCode}<br>顧客ID: #{templateData.customer_pin}.
