doctype html
html
  head
    block title
      title ::. Live Smart .::
  body
    table(align='center')
        tbody
          tr
            td
              table(cellspacing='0' cellpadding='0' width='597' style='border-width: 1px; border-style: solid; border-collapse: separate; border-radius: 10px; overflow: hidden; font-family: Arial,Helvetica,sans-serif; border-color: #ba9f7a;' align='center')
                tbody
                  
                  tr
                    td(class='ui-sortable drop' valign='top' style='background-color: #ffffff;color:#333333;')
                      table(width='100%' cellspacing='0' cellpadding='0' class='container-div' style='  border:none;clear:both;  width: 100%; border-top-color:#ffffff;border-bottom-color:#ffffff; border-top-style: solid;  border-bottom-style: solid;border-left-color:#ffffff; border-left-style: solid;border-left-width: 20px;border-right-color:#ffffff; border-right-style: solid;border-right-width: 20px;border-top-width: 20px; border-bottom-width: 7px;')
                        tbody
                          tr
                            td(align='center' class='handler_div')
                              div
                              div(style='padding: 0 15px; text-align: left; line-height: 1.7; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;border:2px solid transparent;font-family:Arial,Helvetica,sans-serif;color:#333333;font-size:14px')
                                div.hello #{templateData.greeting},
                                  div
                                    div
                                      div <br>
                                      block mailBody
                                        div.greetings Congratulations! You have successfully registered with B.One App.<br> Your Username &amp; Password to login to the application are Email: ................................... and OTP: ..............................<br>
                                    div <br>
                                    block thankyou
                                      div.thankyou Thank You, <br> Team Live Smart

                               div
                      img(border='0' class='header_img' src='#{templateData.logo}' width='595' height='224' style='display: block;')
                  tr
                    td(valign='middle' style='font-size: 11px; line-height: 125%; font-family: helvetica; background-color: #F4F4F4; color: #777777;' align='left')
                      div(style='padding:15px 15px 15px 15px;float:left;')
                        span(class='company_name')
                          b &copy; Live Smartサポートチーム
                        br
                        div(style='float: left; width: 100%; margin-left: 0px;')
                          span.address Roppongi 4-2-8-303
                          span.city  | Roppongi
                          span.state , Tokyo
                          span.zip  106 003 .
                          span.country Japan